APP_NAME=Go_Beyond
APP_PORT=4400
APP_URL=localhost

DB_CONNECTION=mongodb
DB_HOST=34.105.254.157
DB_PORT=27017
DB_DATABASE=jlife2
DB_USERNAME=root
DB_PASSWORD=qwer1234

FRONTEND_URL=http://localhost:3000
MAIL_DRIVER=smtp
MAIL_HOST=smtp.office365.com
MAIL_PORT=587
MAIL_USERNAME=support@gojourneylife.com
MAIL_PASSWORD=lk8*M31jg#OB
MAIL_ENCRYPTION=tls

MAIL_URI=http://192.168.1.112:3001
LIVE_API_URI=xxx

LIVE_MAIL_URI_ADMIN=https://admin.gojourneylife.com
LIVE_MAIL_URI_NON_ADMIN=https://app.gojourneylife.com

STRIPE_SECRET_KEY=sk_test_51IoYOBGix6qBK8bPSPbNbDpyV7trQphwuVdwOrooruwK3jDsNBiOnBVDmUfYVSGs7F0XHlgMC4xqB3uvepIXaLQI00NDmlQRuC

SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
WEBHOOK_SECRET=

SWAGGER_USERNAME = test
SWAGGER_KEY = test
